<section class="steptwo">
  <div class="form-group center max-width has-padding">
    <h2><%= label_tag :q1, "Step 2: What idea are you testing?" %></h2>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("https://dl.dropboxusercontent.com/s/p3hiopm7obphjsy/airbnb.jpg"), form3_path %>
          <h3 class="feature center">Two-sided Marketplace</h3>
          <p class="center">Seller and buyer accounts, transfer payments</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/1679jswfd2mljh8/tumblr.jpg" %>
          <h3 class="feature center">Social Network</h3>
          <p class="center">Follow other users and share content</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/6gd4z9lqozt0jrv/blog.jpg" %>
          <h3 class="feature center">Blog</h3>
          <p class="center">Personal blog, showcase portfolio</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/y6hx3nfeo0qkojc/landingpage.jpg" %>
          <h3 class="feature center">Landing Page</h3>
          <p class="center">Collect emails, collect form</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/a5ksfl0ggab1hli/subscription.jpg" %>
          <h3 class="feature center">Subscription Service</h3>
          <p class="center">Sell product or service for recurring rate</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/pgmk80nvlsu6nop/ecommerce.jpg" %>
          <h3 class="feature center">Ecommerce</h3>
          <p class="center">Manage inventory, accept payments</p>
        </div>
      </div>
    </div>
  </div>
</section>