  <section class="stepseven">
    <div class="form-group center max-width has-padding">
      <h2><%= label_tag :q1, "Step 7: Pick a Font and Color Theme" %></h2>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= link_to image_tag("https://dl.dropboxusercontent.com/s/kyt263yh8qvhsb7/theme1.png"), form8_path %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/nntmnnx0ktlvhbu/theme2.png" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/oweq8x1ps2jx1mq/theme3.png" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/3npv0nze654wja7/theme4.png" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/kox1le741j4fyhu/theme5.png" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/94ecyp8zu8haoc7/theme6.png" %>
          </div>
        </div>
      </div>
    </div>
  </section>