<section class="stepthree">
  <div class="form-group center max-width has-padding">
    <h2><%= label_tag :q1, "Step 3: What will you be providing on your marketplace?" %></h2>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/79zh97x9b61uhb5/product.jpg" %>
          <h3 class="feature center">Products</h3>
          <p class="center">Etsy, Ebay</p>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
            <input type="text" class="form-control">
          </div>

        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/22mr353j1vzhhgg/user.png" %>
          <h3 class="feature center">Users</h3>
          <p class="center">Ok Cupid</p>

          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/w2bmlain72ghr5w/services.png" %>
          <h3 class="feature center">Services</h3>
          <p class="center">Taskrabbit</p>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
            <input type="text" class="form-control" placeholder="Username">
            <!-- <input type="text" class="form-control" placeholder="Hello"> -->
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <%= link_to "Next", form4_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</section>